/.vs

/XClientUnity/.vs
/XClientUnity/Library
/XClientUnity/Temp
/XClientUnity/UnityPackageManager
/XClientUnity/Assets/XLua/Examples
/XClientUnity/Assets/XLua/Resources

/XDriver/.vs
/XDriver/project/.vs
/XDriver/bin
/XDriver/obj

/XServer/.vs

*.vcxproj.filters
*.vcxproj.user
*.pdb
*.exp