/.vs

/XClient/.vs
/XClient/Library
/XClient/Temp
/XClient/UnityPackageManager
/XClient/Assets/XLua/Examples
/XClient/Assets/XLua/Resources

/XDriver/.vs
/XDriver/project/.vs
/XDriver/bin
/XDriver/obj

/XServer/.vs

*.vcxproj.filters
*.vcxproj.user
*.pdb
*.exp